html {
    scroll-behavior: smooth;
    font-size: 16px;
}

:root {
    --blue: #295C75;
}

*,
*:focus,
*:hover {
    outline: none;
}

body {
    background-color: var(--blue);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

header {
    width: 100%;
    height: 62px;
    position: fixed;
    background-color: var(--blue);
    display: inline-block;
    color: white;
    top: 0;
    z-index: 2;
}


.nome {
    margin: 24px;
    color: white;
    z-index: 4;
}


nav {
    position: absolute;
    width: 100%;
    height: auto;
    display: inline-block;
    top: 14px;
    z-index: 3;
}

#menuToggle {
    display: none;
}

.menu-btn {
    font-size: 0.875rem;
    line-height: 0.875rem;
    padding: 8px 14px 10px 14px;
    border: solid white 1px;
    right: 24px;
    position: absolute;
    display: block;
    top: 0;
}

.menu-btn:active {
    background-color: white;
    color: var(--blue);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


nav ul {
    margin: 48px 0 0 0;
    display: block;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
}

nav ul a {
    display: block;
    text-align: center;
    width: 100%;
    height: 48px;
    background-color: var(--blue);
    color: white;
    border: white solid 1px;
    font-size: 1rem;
    padding: 16px 0;
    box-sizing: border-box;
}


#menuToggle:checked~ul {
    max-height: 350px;
}

main {
    width: 100%;
}


h1 {
    font-family: 'Avara_Bold', serif;
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 124px;
}

h2 {
    font-family: 'Avara_Bold', serif;
    font-size: 2rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.375rem;
}

figcaption {
    font-size: 0.625rem;
    line-height: 0.875rem;
    width: 100%;
    margin: 0;
    text-align: right;
}

.intro {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    margin: auto 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    max-width: 400px;
}

.container p {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 300;
}

.button {
    background-color: #55758500;
    border: solid white 3px;
    font-family: 'Avara_Black', serif;
    font-size: 0.875rem;
    padding: 17px 32px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    transition: 0.6s;
}

.button p {
    font-size: 0.875rem;
    line-height: 0.875rem;
    text-align: center;
    margin: 0;
    display: inline-block;
}

.button:hover,
.button:active,
.button:focus {
    color: black;
    background-color: white;
}

.button:active,
.button:focus {
    color: var(--blue);
}

.button:hover::after {
    content: '\2709';
}

.cloud_sec {
    position: absolute;
    margin: 0 auto;
    right: 0;
    bottom: -64px;
    max-width: 508px;
}

.cloud_sec2 {
    position: absolute;
    width: 30%;
    right: 18%;
    top: 80px;
    max-width: 256px;
}

.cloud_sec3 {
    display: none;
}

.comp {
    width: 100%;
    background-color: white;
    padding: 48px 16px;
    box-sizing: border-box;
}

figure p {
    font-size: 0.625rem;
    line-height: 0.875rem;
    width: 100%;
    text-align: center;
}

.icons_comp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.icons_comp figure {
    width: 30%;
    padding-bottom: 30%;
    box-sizing: border-box;
    background-color: var(--blue);
    margin: 2px;
    position: relative;
}

.icons_comp figure p {
    position: absolute;
    bottom: 0;
    color: white;
}

.icons_comp_img {
    position: absolute;
    width: 60%;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.cards_comp figure {
    width: 100%;
    border: solid var(--blue) 1px;
    margin: 16px 0;
}

.tec-soft_comp {
    margin-top: 48px;
}

.list_comp {
    margin-top: 24px;
}

.list_comp li {
    margin-bottom: 16px;
    font-weight: 600;
}

.list_comp li::before {
    content: '\25BA';
    color: var(--blue);
    display: inline-block;
    margin-left: -16px;
}

.quali {
    width: 100%;
    color: white;
    padding: 48px 16px;
    box-sizing: border-box;
    position: relative;
}

.logo_fac {
    width: 70%;
    margin: 24px auto;
    max-width: 240px;
}

.logo_fac img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.logo_beja {
    width: 40%;
    margin: 24px auto;
    max-width: 112px;
}

.logo_beja img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.quali_individual {
    margin: 48px auto;
    max-width: 450px;

}

.quali_individual p {
    margin: 0;
    text-align: center;
}

.cloud_qua {
    position: absolute;
    left: 0;
    bottom: -94px;
    width: 80%;
    max-width: 260px;
    z-index: -1;
}

.cloud_sec4,
.cloud_sec5 {
    display: none;
}

.port {
    width: 100%;
    background-color: white;
    padding: 48px 16px;
    box-sizing: border-box;
    height: 100%;
}

.port-container {
    display: flex;
    overflow: auto;
}

.port-container article {
    margin-right: 16px;
    max-width: 480px;
}

.port-container .mustwe {
    padding-right: 16px;
}

.port-container article p {
    width: 80vw;
    max-width: 480px;
}

.fx4x_link {
    color: var(--blue);
}

.fx4x_link p {
    font-size: 0.75rem;
    line-height: 0.875rem;
}

.fx4x_link:link,
.fx4x_link:visited {
    color: var(--blue);
    text-decoration: none;
}

.fx4x_link:hover {
    color: black;
    text-decoration: none;
}

.fx4x_link:active,
.fx4x_link:focus {
    color: gray;
    text-decoration: none;
}

.image-wrapper {
    margin: 0;
    position: relative;
    padding-bottom: 56.25%;
    box-sizing: border-box;
}

.image-wrapper img,
.image-wrapper iframe {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: none;
}

.figc_port {
    position: absolute;
    bottom: -16px;
}

.about {
    width: 100%;
    color: white;
    padding: 48px 16px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.about h2 {
    order: 1;
}

.p1_about {
    order: 2;
}

.p2_about {
    order: 4;
}

.cloud_about {
    position: absolute;
    right: 0;
    top: -74px;
    width: 70%;
    max-width: 280px;
    z-index: -1;
}

.fotos_joana {
    width: 100%;
    margin: 24px auto;
    display: flex;
    flex-wrap: wrap;
    border: white solid 1px;
    order: 3;
    background-color: white;
}

.fotos_joana img {
    width: 50%;
    object-fit: cover;
    border: white solid 2px;
    box-sizing: border-box;
}

.contact {
    width: 100%;
    color: white;
    padding: 48px 16px 180px 16px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #295C75 35.42%, #CE6646 80.21%, #1F3171 97.92%, #02050F 100%);
    position: relative;
}

.corvo {
    width: 60%;
    max-width: 272px;
    float: right;
    margin-right: 0;
    margin-left: 44px;
    margin-bottom: 64px;
}

.corvo img {
    width: 100%;
    max-width: 272px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.contact h1,
.contact p,
.contact button {
    clear: both;
}

.contact p {
    max-width: 412px;
}

.contact button {
    margin-bottom: 200px;
}

.city {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 152px;
    object-fit: cover;
    left: 0;
    bottom: 0;
}

footer {
    background-color: black;
    color: white;
    padding: 48px 16px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 4px;
}

.linkedin_footer {
    width: 12px;
    height: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.email_footer a {
    text-decoration: none;
    color: white;
}

.email_footer a:link,
.email_footer a:visited {
    text-decoration: none;
    color: white;
}

@media (min-width:600px) {
    .container {
        margin: auto 44px;
    }

    .comp,
    .quali,
    .port,
    .about {
        padding: 48px 44px;
    }

    p {
        max-width: 558px;
    }

    .icons_comp figure {
        width: 24%;
        padding-bottom: 24%;
    }

    .port-container article {
        margin-right: 44px;
    }

    .fotos_joana {
        max-width: 480px;
    }

    .contact {
        padding: 48px 44px 180px 44px;
    }

    .contact h1,
    .contact p,
    .contact button {
        clear: none;
    }
}

@media (min-width:924px) {
    .menu-btn {
        display: none;
    }

    nav {
        height: 100%;
        top: 0;
    }

    nav ul {
        margin: auto 8px;
        display: flex;
        flex-direction: row;
        max-height: none;
        float: right;
        height: 100%;
    }

    nav ul li {
        height: fit-content;
        display: inline-block;
        background-color: transparent;
        width: auto;
        padding: 0;
        margin: auto 16px;
    }

    nav ul li a {
        border: none;
    }

    nav ul li a:link,
    nav ul li a:visited {
        color: white;
        text-decoration: none;
    }

    nav ul li a:hover {
        color: black;
        text-decoration: none;
    }

    nav ul li a:active,
    nav ul li a:focus {
        color: gray;
        text-decoration: none;
    }

    .container {
        margin: auto 88px;
    }

    .cloud_sec3 {
        display: block;
        position: absolute;
        width: 200px;
        left: 3%;
        bottom: 5%;
        z-index: -1;
    }

    .comp,
    .quali,
    .port,
    .about {
        padding: 78px 88px;
    }

    .icons_comp {
        margin-top: 48px;
    }

    .icons_comp figure {
        width: 19%;
        padding-bottom: 19%;
    }

    .icons_comp figure p {
        font-size: 0.75rem;
    }

    .quali-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .quali_individual {
        width: 49%;
        display: inline-block;
        margin: 24px auto;
    }

    .cloud_sec5 {
        display: block;
        position: absolute;
        width: 320px;
        right: 3%;
        top: 5%;
    }

    .port-container {
        overflow: unset;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .port-container article {
        width: 46%;
        margin-right: 0;
        margin-bottom: 78px;
    }

    h3 {
        margin-top: 38px;
    }

    .port-container article p {
        width: 100%;
    }

    .about {
        display: block;
        overflow: hidden;
    }

    .p1_about,
    .p2_about {
        float: right;
        width: 60%;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .fotos_joana {
        margin: 0;
        width: 35%;
        float: left;
    }

    .cloud_sec4 {
        display: block;
        position: absolute;
        width: 172px;
        right: 35%;
        top: 2%;
    }

    .contact {
        padding: 98px 88px 280px 88px;
    }
}

@media (min-width:1200px) {
    .nome {
        margin-left: 88px;
    }

    nav ul {
        margin-right: 72px;
    }

    .container {
        margin: auto 240px;
    }

    .comp,
    .quali,
    .port,
    .about {
        padding: 98px 240px;
    }

    .contact {
        padding: 98px 240px 280px 240px;
    }
}