@font-face {
    font-family: 'Avara_Bold';
    src:    url('../fonts/Bold/Avara-Bold.eot');
    src:    url('../fonts/Bold/Avara-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Bold/Avara-Bold.woff') format('woff'),
            url('../fonts/Bold/Avara-Bold.woff2') format('woff2'),
            url('../fonts/Bold/Avara-Bold.ttf') format('truetype'),
            url('../fonts/Bold/Avara-Bold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('../fonts/BoldItalic/Avara-Bold_Italic.eot');
    src:    url('../fonts/BoldItalic/Avara-Bold_Italic.eot?#iefix') format('embedded-opentype'),
            url('../fonts/BoldItalic/Avara-Bold_Italic.woff') format('woff'),
            url('../fonts/BoldItalic/Avara-Bold_Italic.woff2') format('woff2'),
            url('../fonts/BoldItalic/Avara-Bold_Italic.ttf') format('truetype'),
            url('../fonts/BoldItalic/Avara-Bold_Italic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:    url('../fonts/Black/Avara-Black.eot');
    src:    url('../fonts/Black/Avara-Black.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Black/Avara-Black.woff') format('woff'),
            url('../fonts/Black/Avara-Black.woff2') format('woff2'),
            url('../fonts/Black/Avara-Black.ttf') format('truetype'),
            url('../fonts/Black/Avara-Black.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');